@charset "utf-8";
/* CSS Document */

*{border:0;margin:0;padding:0;}
a{ text-decoration:none;}
ul li{ list-style:none;}






/*自定义样式*/
.ovf_h{ overflow:hidden;}
.txt_r{ text-align:right;}
.txt_c{ text-align:center;}
.fl_l{ float:left;}
.fl_r{ float:right;}
.ft_weight_b{ font-weight:bold; }
.pos_r{ position:relative;}
.pos_a{ position:absolute;}
.txt_underl{ text-decoration:underline;}





